*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body{
   background: #e6e6e6;
}

/* GLOBAL */
.container {
   width: 90%;
   margin: auto;
   overflow: hidden;
}

/* NAVIGATION BAR */
header {
   position: sticky;
   top: 0;
   z-index: 1;
   background: #e6e6e6;
   border-bottom: #d8d8d8 7px solid;
   font-family: 'Shippori Antique B1', sans-serif;
}

nav {
   min-height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

#logo-img {
   width: 140px;
   height: 140px;
   background-repeat: no-repeat;
   background-size: 100%;
}

.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sub-menu {
   list-style: none;
}

.per-menu {
   color: black;
   text-decoration: none;
   padding: 5px;
   margin: 16px;
   font-size: 16px;
   font-weight: bold;
}

.per-menu:hover {
   color: rgb(101, 132, 109);
   transition: ease-in-out .30s;
}

.ham {
   display:none;
   cursor: pointer;
}

.ham-bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background: rgb(81, 109, 81);
}
/* bagian header sampai sini */



/* ABOUT SECTION */
/* bagian about */
#about-section{
   min-height: 500px;
   padding: 100px 0;
   background-image: url(../IMAGES/history.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

#more-image {
   width: 330px;
   min-width: 400px;
   height: 300px;
   border-radius: 8%;
   margin-left: 230px;
}

.about-text{
   width: 450px;
   float: right;
   text-align: center;
   margin-right: 230px;
}

.about-text h1{
  color: rgb(0, 0, 0);
  font-size: 75px;
  margin-bottom: 20px;
}

.about-text p{
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

/* visi misi */
#perusahaan{
   background-image: url(../IMAGES/visi-misi.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 500px;
   width: 100%;
	padding: 100px 0px;
   min-height: 500px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
   text-decoration: none;
}

.box-card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: rgba(81, 109, 81, 0.866);
	border-radius: 20px;
	margin: 15px;
	overflow: hidden;
	text-align: center;
} 

.box-card h2{
	color: rgb(255, 255, 255);
	font-size: 23px;
	margin-bottom: 10px;
   margin-top: 20%;
	font-family: 'Fraunces', serif;
}

.desk a{
	color: rgba(200, 200, 200, 0.8);
	font-size: 14px;
	line-height: 27px;
	margin-bottom: 25px;
	font-family: 'Fraunces', serif;
}

/* farbucks team */
#team{
   background-image: url(../IMAGES/farbucks-team.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 500px;
   width: 100%;
	padding: 100px 0px;
   min-height: 500px;
}

.judul h3{
	color: rgb(0, 0, 0);
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
	font-family: 'Fraunces', serif;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
   text-decoration: none;
}


.box-team{
	height: 335px;
	width: 325px;
	padding: 20px 35px;
	background: rgba(81, 109, 81, 0.866);
	border-radius: 20px;
	margin: 15px;
	text-align: center;
} 

.deskt {
   justify-content: center;
   display: flexbox;
}

#deskt-1{
   width: 250px;
   height: 250px;
   border-radius: 10%;
}

#deskt-2{
   width: 250px;
   height: 250px;
   border-radius: 10%;
}

.deskt a{
	color: rgba(252, 252, 252, 0.8);
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 25px;
	font-family: 'Fraunces', serif;
   
}

/* FOOTER */
footer {
   background: #e6e6e6;
   min-height: 50px;
   padding-top: 15px;
   bottom: 0;
   font-family: 'Roboto', sans-serif;
   border-top: #d5d5d5 10px solid;
}

.footer-top {
   height: 230px;
   text-align: center;
   padding-top: 15px;
   margin-top: 10px;
}

.footer-top h3 {
   font-size: 30px;
   font-weight: bolder;
   text-transform: capitalize;
   line-height: 30px;
}

.footer-top p {
   max-width: 500px;
   margin: 15px auto;
   line-height: 33px;
   font-size: 15px;
}

.socials {
   list-style: none;
   justify-content: center;
   display: flex;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 15px;
}

.ig img {
   background: #6a8e73;
   width: 50px;
   height: 50px;
   padding: 10px; 
   margin: 20px;
   border-radius: 50%;
   box-shadow: 0px 3px 2px rgb(195, 195, 195);
} 

.ig img:hover {
   text-decoration: none;
   background: #86A48E;
   transition: all .3s ease-in-out;
}

.footer-bottom {
   background: #d5d5d5;
   color: rgb(0, 0, 0);
   height: 40px;
   align-items: center;
   justify-content: center;
   display: flex;
   margin-top: 2px;
}

.footer-bottom p {
   font-size: 13px;
   word-spacing: 3px;
}



/* RESPONSIVE */
@media(max-width:810px) {

   .ham {
       display: block;
   }

   .ham.active .ham-bar:nth-child(2) {
       opacity: 0;
   }

   .ham.active .ham-bar:nth-child(1) {
       transform: translateY(8px) rotate(45deg);
   }

   .ham.active .ham-bar:nth-child(3) {
       transform: translateY(-8px) rotate(-45deg);
   }

   .menu{
       position: fixed;
       right: -100%;
       top: 145px;
       flex-direction: column;
       background: #d5d5d5;
       width: 100%;
       text-align: center;
       transition: 0.5s;
   }

   .sub-menu {
       margin: 16px 0;
   }

   .menu.active {
       right: 0;
   }

   #hand-img {
       display: none;
   }
   
   #text-img {
       width: 800px;
       height: 500px;
       padding-right: 75px;
       float: none;
   }

   .box::-webkit-scrollbar-thumb{
       border-radius: 0.65vw;
       background-color: rgb(101, 132, 109);
   }

   .about{
       display: flex;
       flex-direction: column;
       align-items: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
   }

   #more-image {
       width: 330px;
       min-width: 400px;
       height: 300px;
       border-radius: 8%;
       margin-left: 0;
   }

   .about-text{
       width: 450px;
       float: none;
       text-align: center;
       margin-right: 0;
   }

   .judul h3{
      font-size: 30px;
      width: 200px;
   }
}
